<!-- Wrapper-->
<div id="wrapper">

  <!-- Navigation -->
  <div data-ng-include="'/modules/core/views/navigation.client.view.html'"></div>
<p ui-view="hint" class="navbar-text" style="color:#FFF"></p>
  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg">

    <!-- Page wrapper -->
    <div ng-include="'/modules/core/views/header.client.view.html'"></div>

    <!-- Main view  -->
    <div ui-view></div>
    <!-- Footer -->
    <div ng-include="'/modules/core/views/footer.client.view.html'"></div>

  </div>
  <!-- End page wrapper-->

</div>
