<footer>
	<div class="container">
		<center>
			<div class="social">
				<ul class="list-inline" style="padding-top:14px">
					<li><a href="https://www.facebook.com/reciflix" target="_blank"><i class="fa fa-facebook"></i></a>
					</li>
					<li><a href="https://plus.google.com/u/0/communities/110241180910164547361" target="_blank"><i class="fa fa-google-plus"></i></a>
					</li>
					<li><a href="https://twitter.com/reciflix" target="_blank"><i class="fa fa-twitter"></i></a>
					</li>
				</ul>
			</div>
		</center>
		<div class="pull-right " ng-controller="HeaderController">
			<strong>&copy;</strong> {{presentYear|date:'yyyy'}} RECIFLIX
		</div>
		<div class="footer-nav">
			<a href="">Terms</a>
			<a ui-sref="privacy" class="privacy">Privacy Policy</a>
		</div>
	</div>
</footer>
