    <div class="footer  navbar-fixed-bottom">
	<div class="footer-below">
		<div class="row">
			<div class="col-xs-12">
				<table class="table">
					<footer>
						<tbody>
							<tr>
								<td>
                                    <span class="hidden-xs">
									<a href="/#!/">Home</a>
                                        | </span>

								</td>
								<td>
									<p class="text pull-right">&copy;2015 Mahasoft, inc</p>
								</td>
							</tr>
						</tbody>
					</footer>
				</table>
			</div>
		</div>
	</div>
</div>
