<footer>
  <div class="container ">
    <div class="footer-socialicons">
      <ul class="icons" align="center" style="margin:7px 0px">
        <li>
          <a href="https://www.facebook.com/reciflix" class="icon fa fa-facebook"></a>
        </li>
        <li>
          <a href="https://twitter.com/reciflix" class="icon fa fa-twitter"></a>
        </li>
      </ul>
    </div>

    <div class="pull-right ">

      <strong>&copy;</strong>2015 Mahasoft, inc
    </div>
    <div class="footer-nav">
      <a href="#">Terms</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>
