<!--<nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <span minimaliza-sidebar></span>
    <div style="float:left;">
      <a ui-sref="reciflix.home"><img src="modules/core/img/brand/reciflix-logo.png" width="192px">
      </a>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="" ng-submit="goToSearchRecipes(inputQuery)" autocomplete="off">
      <div class="form-group search-bar">
        <input type="text" placeholder="Search for a recipe..." size="45" class="top-search" name="top-search" id="top-search" ng-model="inputQuery"><span class="fa fa-search search-icon" ui-sref="reciflix.recipes.searchedrecipes({query:inputQuery})"></span>
      </div>
    </form>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li class="divider-vertical"></li>
  </ul>
</nav>-->

<div data-ng-controller="HeaderController" class="navbar-fixed-top">
  <span minimaliza-sidebar ng-show="$state.includes('reciflix')"></span>
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()" ng-hide="$state.includes('reciflix')">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar fa fa-align-justify"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a style="padding-left: 3px;" ng-click="gotoState()"><img src="modules/core/img/brand/reciflix-logo.png" width="192px">
    </a>
    <form role="search" class="navbar-form-custom" method="post" action="" ng-submit="goToSearchRecipes(inputQuery)" autocomplete="off">
      <div class="form-group search-bar">
        <input type="text" placeholder="Search for a recipe..." size="30" class="top-search" name="top-search" id="top-search" ng-model="inputQuery"><span class="fa fa-search search-icon" ui-sref="reciflix.recipes.searchedrecipes({query:inputQuery})"></span>
      </div>
    </form>
  </div>
  <div style="float:left;" ng-hide="!isCollapsed? true : true">
    <a style="padding-left: 3px;" ng-click="gotoState()"><img src="modules/core/img/brand/reciflix-logo.png" width="192px">
    </a>
  </div>
  <div class="container">
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
      <ul class="nav navbar-nav navbar-right navbar-top-links" data-ng-hide="authentication.user">
        <li ui-sref-active="active">
          <a ui-sref="reciflix.recipes">Browse Recipes</a>
        </li>
        <li class="divider-vertical"></li>
        <!--<li ui-sref-active="active" ><a ui-sref="signin">Log In</a>
        </li>-->
        <li ng-class="{active: signFun}"><a ng-click="OpenSignIn()">Log In</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
