<div>
	<div class="  ibox-content">
		<div class="container">
			<div class="container">
				<div class="row">
					<h2 class="text-center">Send Notifications</h2>
					<form>
						<div class="form-group">
							<label for="title">Title:</label>
							<input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" ng-model="webNotification.title">
						</div>
						<div class="form-group">
							<label for="msg">Message:</label>
							<input type="text" class="form-control" id="msg" placeholder="Enter Message" name="msg" ng-model="webNotification.msg">
						</div>
						<div class="form-group">
							<label for="url">Url:</label>
							<input type="text" class="form-control" id="url" placeholder="Enter Url to redirect to page" name="url" ng-model="webNotification.url">
						</div>
						<div class="row text-center">
							<button type="submit" ng-click="sendNotifications(webNotification)" class="btn btn-primary ">Send</button>
						</div>

					</form>
				</div>

				<div class="row" style="padding-top: 50px;" ng-init="getTopics()">
					<h2 class="text-center " style="padding-bottom: 25px;">Send App Push Notifications</h2>
					<form name="pushnotificationFrom" ng-submit="pushnotification(pushnotificationFrom.$valid)" novalidate>
						<div class="row form-group">
							<div class="col-md-2 col-md-offset-2">
								<b> Platform <span style="float:right"> : </span></b>
							</div>
							<div class="col-md-2">
								<label class="radio-inline">
      <input type="radio"  ng-model="pushNotification.platform" value="android">Android
    </label>
							</div>

							<div class="col-md-2">
								<label class="radio-inline">
      <input type="radio"  ng-model="pushNotification.platform" value="ios">Ios
    </label>
							</div>
            </div>
            <div class="row form-group">
							<!-- <div class="col-md-2 col-md-offset-2">
								<b> Send with topic name <span style="float:right"> : </span></b>
							</div> -->
							<div class="col-md-2 col-md-offset-4">
								<label class="radio-inline">
      <input type="radio"  ng-model="pushNotification.chooseMethod" value="withTopicName">send with topic name
    </label>
							</div>

							<div class="col-md-2">
								<label class="radio-inline">
      <input type="radio"  ng-model="pushNotification.chooseMethod" value="allDevices">send to all
    </label>
							</div>
						</div>
						<div class="row form-group" ng-show="pushNotification.chooseMethod == 'withTopicName' ">
							<div class="col-md-4 col-md-offset-4">
								<label>Select list:</label>
								<select required class="form-control" ng-model="pushNotification.topic" ng-options="topic as topic.topicName for topic in topics">
                  <option value="">Select a topic</option>
                </select>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-2 col-md-offset-2">
								<b>  Message <span style="float:right"> : </span></b>
							</div>
							<div class="col-md-4">
								<input required autocomplete="off" type="text" class="form-control" placeholder="Enter Message" name="msg" ng-model="pushNotification.msg">
							</div>
						</div>
						<div class="row text-center">
              <button type="submit" class="btn btn-primary"
               ng-disabled="(!pushNotification.msg) && !(pushNotification.topic && pushNotification.msg)">Submit</button>
						</div>
					</form>


				</div>
			</div>
		</div>
	</div>
</div>
