<style>
  .darken {
    z-index: 2px;
    background: rgba(0, 0, 0, .3);
  }

  .loginscreen {
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
  }

  .store-links {
    width: 450px;
    margin-left: 90px;
    margin-bottom: 51px;
  }

  .spinner-class {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50vh;
    left: 50%;
    transform-origin: center;
  }

  .spinner-img {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .loginscreen {
      width: 400px;
      margin-left: 90px;
      margin-top: 15px;
    }
    .store-links {
      width: 450px;
      margin-left: 80px;
      margin-top: 15px;
    }
    .spinner-class {
      position: absolute;
      height: 200px;
      width: 200px;
      top: 50vh;
      left: 50%;
      transform-origin: center;
    }
    .spinner-img {
      width: 100%;
    }
    @media screen and (max-width: 990px) {
      .loginscreen {
        width: 400px;
        margin-left: 90px;
        margin-top: 15px;
      }
      .store-links {
        width: 350px;
        margin-left: 130px;
        margin-top: 15px;
      }
      .spinner-class {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 40vh;
        left: 30%;
        transform-origin: center;
      }
      .spinner-img {
        width: 90%;
      }
      @media screen and (max-width: 750px) {
        .loginscreen {
          width: 375px;
          margin-left: 75px;
          margin-top: 15px;
        }
        .store-links {
          width: 350px;
          margin-left: 100px;
          margin-top: 15px;
        }
        @media screen and (max-width: 500px) {
          .loginscreen {
            width: 320px;
            margin-left: 10px;
            margin-top: 15px;
          }
          .store-links {
            width: 250px;
            margin-left: 60px;
            margin-top: 15px;
          }
          .spinner-class {
            position: absolute;
            height: 200px;
            width: 200px;
            top: 20vh;
            left: 20%;
            transform-origin: center;
          }
          .spinner-img {
            width: 100%;
          }
        }
        @media screen and (max-width: 330px) {
          .loginscreen {
            width: 297px;
            margin-left: -5px;
            margin-top: 15px;
          }
          .store-links {
            margin-left: 35px;
          }
          .spinner-class {
            position: absolute;
            height: 200px;
            width: 200px;
            top: 20vh;
            left: 20%;
            transform-origin: center;
          }
          .spinner-img {
            width: 100%;
          }
        }
      }
    }
  }

  button[disabled] {
    background-color: #99EBD6 !important;
    border-color: #1dc5a3 !important;
  }
</style>
<div class="wrapper wrapper-content bg-body" data-ng-controller="AuthenticationController">
  <div class="row loginscreen">
    <div class="ibox float-e-margins">
      <div class="darken" style="border-radius:5px;border:1px solid #edeeee;padding:15px;-webkit-box-shadow:1px 1px 10px 1px rgba(77,82,86,0.91);-moz-box-shadow:1px 1px 10px 1px rgba(77,82,86,0.91)">
        <h3 style="color:#FFF" class="text-center">Welcome to ReciFlix</h3>
        <p style="color:#FFF" class="text-center">Log In to ReciFlix, and see it in action.</p>
        <form class="m-t" role="form" name="login_form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="credentials.email" required="">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" ng-model="credentials.password" required="">
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b" ng-click="Login()" ng-disabled="(login_form.email.$invalid || login_form.password.$invalid)">Log In</button>
          <p class="text-center">
            <a ui-sref="forgot" style="color:#FFF"><small>Forgot password?</small></a>
          </p>
        </form>
        <div data-ng-show="errMsg" class="text-center text-danger">
          <strong data-ng-bind="errMsg"></strong>
        </div>
      </div>
    </div>
  </div>

  <section class="row ">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-4 store-links">
      <h3 align="center" style="color:#FFF"><span style="background: rgba(0,0,0,0.3);">Need an account?</span></h3>
      <h4 align="center" style="color:#FFF"><span style="background: rgba(0,0,0,0.3);">Download the app to Signup</span></h4>
      <br>
      <div class="row">
        <div class="col-md-6" style="">
          <center>
            <a href="https://itunes.apple.com/us/app/reciflix/id1019002413" class="app-store-badge" ng-hide="androidUser" style="margin-left:-5px">
              <img src="modules/core/img/brand/app-store.png" alt="App Store" class="playstore">
            </a>
          </center>
        </div>
        <br class="hidden-md hidden-lg">
        <div class="col-md-6" style="">
          <center>
            <a href="https://play.google.com/store/apps/details?id=com.reciflix.recipesapp&hl=en" class="google-play-badge" ng-hide="iosUser" style="margin:10px">
              <img src="modules/core/img/brand/google-play.png" alt="Google Play" class="playstore">
            </a>
          </center>
        </div>
      </div>
      <br>
      <br>
    </div>
  </section>
  <div ng-show="loading">
    <center>
      <div class="spinner-class">
        <img src="modules/core/img/loaders/ajax-loader.gif" class="spinner-img" />
      </div>
    </center>
  </div>
</div>
