.content {
  margin-top: 50px;
}

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.search-bar {
  margin-top: 12px;
  margin-left: 20px;
}

.top-search {
  border-radius: 5px;
  font-size: 14px;
}

.search-icon {
  font-size: 20px;
  padding-left: 5px;
}

.wrapper{
  padding: 0px !important;
}

#page-wrapper{
  padding: 0px !important;
}
