.about-h2 {
  padding-bottom: 20px;
}

.navbar {
  min-height: 62px;
}

.word-brk {
  word-wrap: break-word;
  word-break: break-word;
}

.signout-header {
  float: right;
  padding-top: 16px;
  font-size: 20px;
  color: dodgerblue !important;
  padding-right: 15px;
}

.navbar-top-links li a {
  padding: 16px 10px !important;
  min-height: 50px;
}

.web-home-logo {
  display: inline-block;
}

.mobile-home-logo {
  display: none;
}

.bg-body {
  background-image: url('../../../modules/core/img/brand/New-Year-Background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #e0ccb1;
  height: 700px;
}

#reciflix-desc {
  padding-bottom: 20px;
  padding-top: 325px;
}

#reciflix-desc {
  padding-bottom: 20px;
  padding-top: 250px;
}

@media screen and (max-width: 350px) {
  .post-label {
    display: inline-block;
    background: #65CCE3;
    position: absolute;
    left: 7%;
    width: 85%;
    top: 1px;
    z-index: 10;
    padding: 7px 20px;
  }
}

@media screen and (min-width: 1201px) {
  .about-h2 {
    padding-top: 125px;
  }
}

@media screen and (max-width: 1724px) {
  .border-style {
    border-right: 1px solid #eee !important;
  }
}

@media screen and (max-width: 1100px) {
  .bg-body {
    height: 510px !important;
  }
}

@media screen and (max-width: 992px) {
  .border-style {
    border-right: none !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar-right {
    float: right !important;
  }
  .search-bar input[type=text] {
    width: 100%;
  }
  #demo-b input[type=search] {
    width: 130px;
    padding-left: 30px;
    color: transparent;
    cursor: pointer;
  }
  #demo-b input[type=search]:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    outline-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  body.fixed-sidebar.mini-navbar .navbar-default .nav > li > a {
    padding: 20px;
    font-size: 16px !important;
  }
  .about-h2 {
    padding-top: 125px;
    font-size: 30px;
  }
  .bg-body {
    height: 400px;
  }
  #reciflix-desc {
    padding-bottom: 20px;
    padding-top: 50px;
    font-size: 20px;
  }
  .nav.navbar-right>li {
    background: rgba(0, 0, 0, 0.3);
  }
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .navbar-brand {
    float: left;
    height: 0px !important;
    padding: 0px !important;
  }
  .navbar-toggle {
    margin-top: 16px !important;
    padding: 10px;
  }
  .navbar-toggle {
    background-color: #ddd;
    color: #fff;
  }
  .copyrights {
    text-align: center !important;
  }
  .footer-nav {
    text-align: center !important;
  }
  .footer-socialicons {
    text-align: center !important;
  }
  .app-logonav {
    max-height: 55px;
  }
  #myCarousel {
    display: none;
  }
  @media screen and (max-width: 450px) {
    .web-home-logo {
      display: none;
    }
    .mobile-home-logo {
      display: inline-block;
    }
  }
  @media screen and (max-width: 400px) {
    .app-logonav {
      max-height: 38px;
    }
    .navbar-toggle {
      margin-top: 10px !important;
      padding: 5px;
    }
    .landing-main {
      text-align: center !important;
    }
    .bg-body {
      height: 500px !important;
      background-color: #e0ccb1;
    }
    .about-h2 {
      padding-top: 65px;
      font-size: 18px !important;
    }
    #reciflix-desc {
      padding-top: 175px;
    }
  }
  .about-p {
    display: none;
    margin: 30px 0;
    font-size: 14px !important;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center !important;
    color: #fff
  }
  .home-page {
    min-height: 500px;
  }
  #page-wrapper {
    width: 100%;
  }
  .fixed-nav #wrapper {
    margin-top: 48px !important;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    font-size: 18px;
  }
  #demo-b input[type=search] {
    width: 105px;
    padding-left: 30px;
    color: transparent;
    cursor: pointer;
  }
  #demo-b input[type=search]:focus {
    width: 110px;
    padding-left: 30px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    outline-color: transparent;
  }
  .top-search-bar {
    padding-left: 0px !important;
  }
  /*#demo-b [placeholder]:focus::-webkit-input-placeholder {
  color: #808080;
}

::-webkit-input-placeholder {
  color: transparent;
}

::-moz-input-placeholder {
  color: transparent;
}*/
  .bg-body {
    background-image: url('../../../modules/core/img/brand/New-Year-Background-mob.jpg');
  }
}

.top-search-bar {
  display: inline-block;
  padding-top: 7px;
  padding-right: 3px;
  padding-left: 35px;
}

@-moz-document url-prefix() {
  #demo-b input[type=search] {
    width: 130px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    #demo-b input[type=search]:focus {
      width: 160px;
      padding-left: 32px;
      color: #000;
      background-color: #fff;
      cursor: auto;
      outline-color: transparent;
    }
  }
}

#demo-b input[type=search]:hover {
  background-color: #fff;
}

input[type=search] {
  background: #ededed url('../../../modules/core/img/buttons/search-icon.png') no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}


/*#demo-b [placeholder]:focus::-webkit-input-placeholder {
  color: #808080;
}

::-webkit-input-placeholder {
  color: transparent;
}*/

.ibox-content {
  min-height: 500px;
}

.rf-play-icon {
  background: url('../../../modules/core/img/buttons/play.png') no-repeat 0;
  display: block;
  height: 32px;
  position: absolute;
  left: 45%;
  top: 45%;
  width: 32px;
  z-index: 1000;
}

.landLinks-login {
  color: #13866e;
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #555;
  position: absolute;
  right: 25px;
  top: 70px;
  z-index: 1000;
  height: 20px;
}

.landLinks-browse {
  position: absolute;
  left: 25px;
  top: 70px;
  z-index: 1000;
  height: 20px;
  color: #13866e;
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #555;
}

.landLinks-login:hover,
.landLinks-browse:hover {
  cursor: pointer;
}

.fixed-nav #wrapper {
  margin-top: 48px !important;
}

body.mini-navbar .nav-header {
  background-color: transparent !important;
}

#side-menu hr {
  border-top: 1px solid #666 !important;
}

.termsandprivacy {
  color: #aaa;
}

.termsandprivacy:hover,
.termsandprivacy:focus {
  color: #FFF;
  cursor: pointer;
}
