.bg-body{
  background-image: url('../../../modules/core/img/brand/landing-model.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #f8f8f8;
}

/*.bg-body{
background-color: #f8f8f8;;
}*/

#public-landing-page .container {
  font-family: 'Open Sans', sans-serif !important;
}

.wrapper-content {
  padding: 20px 10px 15px !important;
}

.carousel-control {
  visibility: hidden;
}

.carousel-indicators {
  visibility: hidden;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.app-logo {
  max-height: 80px;
  vertical-align: middle;
}

.app-logonav {
  max-height: 64px;
}

a.app-store-badge {
  margin-right: 10px;
}

.playstore {
  max-width: 180px;
  margin-bottom: 10px;
}

img.screenshot {
  max-height: 600px;
  max-width: 100%
}

.nav.navbar-right>li>a {
  color: dodgerblue !important;
}

.nav.navbar-right>li>a:hover {
  background-color: #2f4050 !important;
}

.nav.navbar-right>li>a:focus {
  background-color: #2f4050 !important;
}

.header-nav > li.active {
  border-left: 0px solid #19aa8d !important;
  background: #3a4459;
}

img {
  vertical-align: middle;
}

.about-h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 20px 0;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.1;
  color: #fff
}

.about-p {
  margin: 30px 0;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
  color: #fff
}

footer {
  background-color: #F8F8F8;
  color: #5C5C5C;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  #position:absolute;
}

#public-landing-page footer a {
  color: inherit;
  vertical-align: middle;
  margin-left: 15px;
}

ul>li>a {
  font-size: 16px;
  color: white;
  transition: all 0.2s ease-in-out;
}

#reciflix-desc {
  background: rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  padding-top: 95px;
}

@media screen and (max-width: 767px) {
  .nav.navbar-right>li {
    background: rgba(0, 0, 0, 0.3);
  }
  #reciflix-desc {
    background: rgba(0, 0, 0, 0.3);
  }
  #public-landing-page .hero .container {
    width: 95% !important;
    padding-top: 40px;
  }
  #public-landing-page .hero section {
    padding: 30px 0 !important;
  }
  #public-landing-page .hero {
    text-align: center !important;
  }
  #public-landing-page .hero .container {
    display: block !important;
  }
  #public-landing-page .hero .container .row {
    display: block !important;
  }
  #public-landing-page .hero img.screenshot {
    max-height: 600px !important;
  }
  #public-landing-page .hero h1 {
    padding-top: 0 !important;
    font-size: 40px !important;
  }
  #public-landing-page .hero h2 {
    margin-top: 0 !important;
    font-size: 20px !important;
  }
  #public-landing-page .hero p {
    font-size: 14px !important;
  }
  #public-landing-page .hero img.app-icon {
    max-height: 150px !important;
  }
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    float: left;
    height: 0px !important;
    padding: 0px !important;
  }
  .navbar-toggle {
    margin-top: 16px !important;
    padding: 10px;
  }
  #public-landing-page footer .container {
    padding: 15px 0;
    color: inherit;
    font-size: 14px !important;
    font-weight: 00;
    line-height: 20px;
    vertical-align: middle;
  }
  .navbar-toggle {
    background-color: #ddd;
    color: #fff;
  }
  .copyrights {
    text-align: center !important;
  }
  .footer-nav {
    text-align: center !important;
  }
  .footer-socialicons {
    text-align: center !important;
  }
  .app-logonav {
    max-height: 55px;
  }
  #myCarousel {
    display: none;
  }
  @media screen and (max-width: 400px) {
    .app-logonav {
      max-height: 38px;
    }
    .navbar-toggle {
      margin-top: 10px !important;
      padding: 5px;
    }
    .landing-main {
      text-align: center !important;
    }
  }
  .about-p {
    margin: 30px 0;
    font-size: 14px !important;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center !important;
    color: #fff
  }
  .about-h2 {
    margin-top: 0 !important;
    font-size: 20px !important;
  }
}

ul.icons li {
  display: inline-block;
  padding-left: 0.75em;
  padding-top: 10px;
}

footer ul.icons a {
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

ul.icons a {
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.8em;
  text-align: center;
  border: 0;
  box-shadow: inset 0 0 0 1px #e6e6e6;
  border-radius: 100%;
  color: #aaa;
  font-size: 24px;
}

.icon {
  text-decoration: none;
}

a {
  -moz-transition: border-bottom-color 0.25s ease-in-out;
  -webkit-transition: border-bottom-color 0.25s ease-in-out;
  -ms-transition: border-bottom-color 0.25s ease-in-out;
  transition: border-bottom-color 0.25s ease-in-out;
  color: inherit;
  text-decoration: none;
}

footer .container {
  padding-bottom: 19px;
}

.copyright {
  direction: rtl;
}

footer ul.icons a:hover {
  background: #66E0C2;
  color: white;
  box-shadow: inset 0 0 0 1px #00B88A;
}

.copyrights {
  text-align: right;
}

.footer-nav>.privacy {
  margin-left: 15px;
  text-decoration: none;
}

.footer-socialicons {
  text-align: center !important;
}

.navbar-brand {
  float: left;
  height: 0px !important;
  padding: 0px !important;
}

.wrapper-content {
  padding: 20px 10px 15px;
}

.navbar-default {
  background-color: transparent;
  border-color: #2f4050 !important;
}

footer ul.list-inline a {
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

ul.list-inline a {
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.8em;
  text-align: center;
  border: 0;
  box-shadow: inset 0 0 0 1px #e6e6e6;
  border-radius: 100%;
  color: #aaa;
  font-size: 24px;
}

footer ul.list-inline a:hover {
  box-shadow: inset 0 0 0 1px #00B88A;
  color: #71dec3;
}

ul.list-inline a:hover {
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.8em;
  text-align: center;
  border: 0;
  box-shadow: inset 0 0 0 1px #71dec3;
  background: #fff;
  border-radius: 100%;
  color: #aaa;
  font-size: 24px;
}
