<div data-ng-controller="PasswordController" style="padding-top:10%" class="bg-body">
  <div data-ng-show="success" class="text-center frgtpsdscreen-success-msg">
    <strong>{{success}}</strong>
  </div>
  <section class="row darken frgtpsdscreen" style="border-radius:5px;border:1px solid #edeeee;padding:15px;-webkit-box-shadow:1px 1px 10px 1px rgba(77,82,86,0.91);-moz-box-shadow:1px 1px 10px 1px rgba(77,82,86,0.91)">
    <h3 class="col-md-12 text-center" style="color:#FFF">Restore your password</h3>
    <p class="small text-center" style="color:#FFF">Enter your account email.</p>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-1 col-md-10">
      <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong>{{error}}</strong>
          </div>

        </fieldset>
      </form>
    </div>
  </section>
</div>
