<style>
  .td-width1 {
    width: 20%;
  }

  .td-width2 {
    width: 80%;
  }

  .section-border {
    border-style: inset;
    border-color: #830808;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .hr-style {
    border-bottom: 1px solid gray;
  }
</style>

<br>
<section data-ng-controller="ArticlesController">
  <!--<h1>THIS PAGE CONTAIN Recipes</h1>-->
  <div class="section-border">

    <br>
    <br>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-3">Select by category</label>
        <div class="col-xs-3">
          <select class="form-control" ng-model="categoriesname">
            <option class="" value="">select</option>
            <option data-ng-repeat="t in sample" >{{t.name}}</option>

          </select>
        </div>
        <button type="button" class="btn btn-primary" ng-click="selected()">submit</button>
      </div>


    </form>


    <div ng-repeat="recipe in filteredrecipe">


      <blockquote class="blockquote-reverse">
        <h3><center><b> <input type="text" class="form-control col-xs-8" ng-model="recipe.title"></b></center></h3>
        <footer><b>By &#45;</b> {{recipe.author}}</cite>
        </footer>
      </blockquote>

      <!-- <p>

      <img ng-src="{{recipe.images.sd}}" class="img-responsive img-rounded thumbnail" alt="Responsive image" height="150" width="150">

    </p>
-->

      <div class="row">
        <div class="col-md-3" style="margin-left:20px">
          <img ng-src="{{recipe.images.sd}}" class="img-responsive img-rounded thumbnail" alt="Responsive image" height="150" width="150">
          <p>

            <ul class="list-inline">
              <li style="font-size:17px;"><span class="glyphicon glyphicon-thumbs-up"></span> {{recipe.ytlikes}}</li>
              <li style="font-size:17px;"><span class="glyphicon glyphicon-thumbs-down"></span> {{recipe.dislikes}}</li>
              <li style="font-size:17px;"><span class="glyphicon glyphicon-eye-open"></span> {{recipe.views}}</li>

            </ul>

          </p>
        </div>
        <div class="col-md-8">
          <span my-youtube code=recipe.videoId></span>
        </div>
      </div>

      <br>



      <table class="table table-hover">

        <tbody>
          <form class="form-horizontal size" role="form" name="itemForm">
            <tr>
              <td class="td-width1">
                <h5><b>Description </b><h5>
          </td>
          <td class="td-width2">
             <textarea rows="6" class="form-control" id="postalAddress" placeholder="Postal Address" ng-model="recipe.description"></textarea>


                </td>

        </tr>



       <tr>
          <td class="td-width1"> <h5><b>Categories </b><h5></td>
          <td class="td-width2">

          <!-- <tags-input data-ng-model="recipe.cats" id="tags" placeholder="Enter the tags"></tags-input>-->

            <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="recipe.cats" theme="select2" sortable="true" ng-disabled="disabled" style="width: 600px;" title="Choose Recipe Category">
			<ui-select-match placeholder="Select Categories...">{{$item}}</ui-select-match>
			<ui-select-choices repeat="cat in availableCats">
				{{cat}}
			</ui-select-choices>
		</ui-select>


            </td>

        </tr>
             <tr class="hr-style">
          <td class="td-width1"> <h5><b>Tags </b><h5></td>
          <td class="td-width2">


            <!-- <tags-input data-ng-model="recipe.tags" id="tags" placeholder="Enter the tags"></tags-input>-->


             <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="recipe.tags" theme="select2" sortable="true" ng-disabled="disabled" style="width: 600px;" title="Choose Recipe Category">
			<ui-select-match placeholder="Select Categories...">{{$item}}</ui-select-match>
			<ui-select-choices repeat="tag in availableTags">
				{{tag}}
			</ui-select-choices>
		</ui-select>




            </td>

        </tr>
                           </form>
      </tbody>
    </table>
              <center>

<button type="button" class="btn btn-primary" ng-click="updaterecipes(recipe)"><span class="glyphicon glyphicon-ok"></span></button>
<button type="button" class="btn btn-danger" ng-click="removeRecipes(recipe)"><span class="glyphicon glyphicon-remove"></span></button>

</center>

  </div>



  <center>
    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </center>

        </div>



</section>
