@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.remove-account-container {
  display: inline-block;
  position: relative;
}

.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}


/*Pagination styles*/

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.frgtpsdscreen {
  width: 400px;
  margin-left: 100px;
  margin-top: 100px;
}

.frgtpsdscreen-success-msg {
  width: 400px;
  margin-left: 100px;
  margin-top: -100px;
  margin-bottom: -75px;
  color: #0066FF;
  font-size: 18px;
  text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}

.darken {
  z-index: 1000;
  background: rgba(0, 0, 0, .3);
}

.resetPwd {
  width: 400px;
  margin-left: 100px;
  padding-top: 100px;
  border-radius: 5px;
  border: 1px solid #edeeee;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(77, 82, 86, 0.91);
  -moz-box-shadow: 1px 1px 10px 1px rgba(77, 82, 86, 0.91)
}
