<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
  <p>Dear {{name}},</p>
  <br>
  <p>
    Thank you for joining the {{appName}} online recipe community. You can now take advantage of online recipe videos, to add the best recipes to your favourites and search relevant recipes, setup grocery lists and share your favourite recipes with your friends and family.
  </p>

  <p>To see your recipes online you can always visit www.reciflix.com and sign in to your user account.</p>

  <br>
  <br>
  <p>Best regards,</p>
  <p>{{appName}} Support Team</p>
</body>

</html>
