.h3-styles {
  color: #1ab394;
}

.img-class {
  height: 140px !important;
}

ul.list-inline a {
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.8em;
  text-align: center;
  box-shadow: inset 0 0 0 1px #e6e6e6;
  border-radius: 100%;
  color: #aaa;
  font-size: 24px;
}

.text-color {
  color: #1b809e;
}

.style-p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.items-box:hover,
.items-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 3px 7px 0px #a8a8a8;
  -moz-box-shadow: 0px 3px 7px 0px #a8a8a8;
  box-shadow: 0px 3px 7px 0px #a8a8a8;
}

.breadcrumb-style {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px
}

.sub-title {
  padding: 5px;
}

.header-page {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #18a689;
  background-color: #fff;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 10px
}

.header-page1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #18a689;
  background-color: #fff;
}

.cursor-style {
  cursor: pointer;
}

.post-label {
  display: inline-block;
  background: linear-gradient(to bottom, #aad061, #7cb72f);
  color: #FFF;
  position: absolute;
  left: 4%;
  top: 1px;
  z-index: 10;
  padding: 7px 20px;
}

.recipe-title {
  padding: 5px;
}

.img-loader {
  background: url('../../../modules/core/img/loaders/spinner.GIF') no-repeat;
  background-position: center center;
}

.searchResultMsg {
  padding: 5px;
  font-size: 16px;
}

.searchedQuery {
  font-size: 20px;
  color: #18a689;
}

.product-detail >.ibox-content {
  padding: 0px !important;
}


/*Bounce animations for heart icon*/

.animatedIcon {
  -webkit-color: #FF6666;
  color: #FF6666;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.4);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.space-right {
  padding-right: 5px;
}

.recipe-img:hover {
  cursor: pointer;
}

.animate.ng-animate {
  -webkit-animation: none 0s;
  -moz-animation: none 0s;
  animation: none 0s;
}

.spin {
  color: #18bc9c;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  font-size: 1.5em;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cat-img {
  width: 400px;
  height: 200px !important;
}

.favLikeIcon {
  padding: 5px;
}

.favLikeIcon:hover {
  cursor: pointer;
}


/*Back to TOP */

#backTop {
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 4px;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 999999999;
  display: none;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  right: 18px;
  bottom: 108px;
  position: fixed;
  background: url('../../../modules/core/img/buttons/uparr-48-w.png') no-repeat center center #1ab394;
  border: 1px solid #fff;
}

.shareIcon {
  color: #33ccff;
  font-size: 20px;
  margin-left: 20%;
}

.fbShare {
  color: #3b5998;
  font-size: 20px;
}

.gPlusShare {
  color: #d34836;
  font-size: 20px;
  padding-left: 18%;
}

.twShare {
  color: #00aced;
  font-size: 20px;
  padding-left: 20%;
}


/*Social Share hide show*/

.box-one {
  margin: 10px 0 20px 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ddd;
  border-radius: 4px;
}

.box-one:hover {
  cursor: pointer;
}

.popover-content {
  padding: 9px 0px !important;
}
