<div ui-view="child-view">
  <center>
    <div data-ng-hide="localUser.roles.indexOf('admin') > -1" class="well well-lg">
      <h3>Thanks for logging in to ReciFlix Web, We are following a mobile first approach, also actively working on making this website ready for you, meanwhile please continue to use ReciFlix mobile app, we will announce soon when this website is ready with the functionality.</h3>
    </div>
  </center>
  <div class="row" ng-init="categoryFun()" data-ng-show="localUser.roles.indexOf('admin') > -1">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-title">
            <div style="text-align:center;font-size:18px;">Categories</div>
            <div class="ibox-tools" style="margin-top:-25px">
              <a class="btn btn-primary btn-sm" ng-click="openModal()">Create new Category</a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="project-list">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <td class="project-status cat-table-titles">Status</td>
                    <td class="project-title cat-table-titles">Name</td>
                    <td class="project-completion cat-table-titles">Image Name</td>
                    <td class="project-people cat-table-titles" style="text-align:center">Rank</td>
                    <td class="project-actions cat-table-titles">Operations</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cat in categories" ng-hide="categories.length === 0">

                    <td class="project-status">
                      <span ng-class="cat.active ? 'label label-primary' : 'label label-default'">{{cat.active ?'Active':'InActive'}}</span>
                    </td>
                    <td class="project-title">
                      <a ng-click="displayCat(cat)">{{cat.displayName}}</a>
                    </td>
                    <td class="project-completion">
                      <<!--img class="img-thumbnail m-t-xs img-responsive" ng-src="modules/recipes/img/v2/cats-img/{{cat.imageName}}.jpg" alt="Category Image" style="height:60px"> {{cat.catId}}.jpg-->
                        <img class="img-thumbnail m-t-xs img-responsive" ng-src="https://s3.amazonaws.com/NewRF/{{cat.imageName}}.jpg" alt="Category Image" style="height:60px"> {{cat.catId}}.jpg

                    </td>
                    <td class="project-people" style="text-align:center">
                      <div>{{cat.rank}}</div>
                    </td>
                    <td class="project-actions">
                      <a class="btn btn-white btn-sm" ng-click="displayCat(cat)"><i class="fa fa-eye" style="color:green;"></i> View </a>

                      <a class="btn btn-white btn-sm" ng-click="editCat(cat,$index)"><i class="fa fa-pencil"></i> Edit</a>
                      <a class="btn btn-white btn-sm" ui-sref="reciflix.categories.subcats({catId:cat.catId})" ng-show="cat.subCatsExist"><i class="fa fa-folder" ></i>
                        Sub Cats </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div ng-show="categories.length === 0">
                <center>
                  <h3>There are no Categories, you can create one now.</h3>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
