<div ui-view="child-view">
  <center>
    <div data-ng-hide="localUser.roles.indexOf('admin') > -1" class="well well-lg">
      <h3>Thanks for logging in to ReciFlix Web, We are following a mobile first approach, also actively working on making this website ready for you, meanwhile please continue to use ReciFlix mobile app, we will announce soon when this website is ready with the functionality.</h3>
    </div>
  </center>
  <div class="row" ng-init="categoryFun()" data-ng-show="localUser.roles.indexOf('admin') > -1">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-title">
            <div style="text-align:center;font-size:18px;">Categories</div>
            <div class="ibox-tools" style="margin-top:-25px">
              <a class="btn btn-primary btn-sm" ng-click="openModal()">Create new Category</a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="project-list">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <td class="project-status cat-table-titles">Status</td>
                    <td class="project-title cat-table-titles">Name</td>
                    <td class="project-completion cat-table-titles">Image Name</td>
                    <td class="project-people cat-table-titles" style="text-align:center">Sub Cats.</td>
                    <td class="project-actions cat-table-titles">Operations</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cat in categories" ng-hide="categories.length === 0">
                    <td class="project-status">
                      <span class="label label-primary" ng-show="cat.status === 'Active' ">{{cat.status}}</span>
                      <span class="label label-default" ng-show="cat.status === 'Inactive' ">{{cat.status}}</span>
                    </td>
                    <td class="project-title">
                      <a ng-click="displayCat(cat)">{{cat.displayName}}</a>
                      <br/>
                      <small>{{cat.created}}</small>
                    </td>
                    <td class="project-completion">
                      <a>{{cat.imageName}}</a>
                    </td>
                    <td class="project-people" style="text-align:center">
                      <div>{{cat.subCatExist}}</div>
                    </td>
                    <td class="project-actions">
                      <a class="btn btn-white btn-sm" ng-click="displayCat(cat)"><i class="fa fa-eye" style="color:green;"></i> View </a>

                      <a class="btn btn-white btn-sm" ng-click="editCat(cat,$index)"><i class="fa fa-pencil"></i> Edit</a>
                      <a class="btn btn-white btn-sm" ui-sref="reciflix.categories.subcats({catId:cat._id,catName:cat.displayName})"><i class="fa fa-folder" ></i>
                        Sub Cats </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div ng-show="categories.length === 0">
                <center>
                  <h3>There are no Categories, you can create one now.</h3>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
