<!--<div class="wrapper wrapper-content animated fadeInRight"  ng-init="categoryFun()" data-ng-hide="localUser.roles.indexOf('admin')!=-1">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                        <h1>user</h1>
                    <h2><span class="text-navy">RECIFLIX - WEB WELCOME TO U</span>
                    PAGE CONTAIN recipes and sub-recipes</h2>

                    <p>
                        All config options you can trun on/off from the theme box configuration (green icon on the left side of page).
                    </p>
                  <p ng-repeat=" cat in categories">
                    <span>{{cat}}</span>


                  </p>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight"  ng-init="categoryFun()" data-ng-show="localUser.roles.indexOf('admin')!=-1">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                       <h1>admin</h1>
                    <h2><span class="text-navy">RECIFLIX - WEB WELCOME TO U</span>
                    PAGE CONTAIN recipes and sub-recipes</h2>

                    <p>
                        All config options you can trun on/off from the theme box configuration (green icon on the left side of page).
                    </p>
                  <p ng-repeat=" cat in categories">
                    <span>{{cat}}</span>


                  </p>


                </div>
            </div>
        </div>
    </div>

</div>-->
<div style="padding:100px">
  <h3>Recipes functionality comes here.</h3>
</div>
