<div class="wrapper wrapper-content animated fadeInUp" ng-init="getAllCats()">
  <div style="padding:10px">
    <label>Select Category :</label>
    <select ng-model="catSelected" ng-options="cat as cat.displayName for cat in cats" ng-change="getSubCats()">
      <option value="">Select Category</option>
    </select>
    <span style="padding-left:50px">

      <label>Select Sub Category :</label>
      <select ng-model="subCatSelected" ng-options="subCat as subCat.displayName for subCat in subCats" ng-change="getSubCatRecipes(1)">
        <option value="">Select Sub Category</option>
      </select>
    </span>
  </div>

  <center ng-hide="subCatRecipes.length === 0">
    <pagination total-items="subCatRecipes.length" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>


  </center>


  <!--<center ng-hide="subCatRecipes.recipes.length==0">
  <pagination boundary-links="true" total-items="totalItems" ng-model="vm.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" class="pagination-sm" max-size="maxSize" items-per-page="itemsPerPage"></pagination>
</center>-->

  <table class="table table-hover">
    <center>
      <img ng-src="modules/core/img/loaders/recipes-loader.GIF" ng-show="loading">
    </center>
    <div ng-repeat="item in finalitems | filter:query">
      <!--<div ng-repeat="item in subCatRecipes.recipes">-->
      <form class="form-horizontal size" role="form" name="itemForm">
        <center ng-show="UpdateMsg"><span style="color:green;font-size:18px;">Suucessfuuly updated Recipe</span>
        </center>
        <div class="col-md-12 col-xs-11">
          <label>Title :</label>
          <input type="text" ng-model="item.title" size="85"></input>
          <!--<span>RecipeId:{{item.recipeId}}</span>-->
          <span style="padding-left:300px">
              <label>Image :</label><img ng-src="{{item.images.dft}}" />
              </span>
        </div>
        <div class="col-md-12 col-xs-11">
          <label>Description :</label>
          <textarea rows="13" cols="15" class="form-control form-cust-size" ng-model="item.description"></textarea>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-xs-11">
            <label>Tags : {{item.tags}}</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <button style="float:left" class="btn btn-danger col-md-2" ng-click="deleteRecipe(item)">Delete</button>
            <button type="submit" class="btn btn-primary col-md-offset-5 col-md-2" ng-click="updateRecipeItem(item)">Update</button>
            <button class="btn btn-warning  col-md-offset-1 col-md-2" back-button>Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </table>
</div>
