<div class="row" ng-init="subCatFun()">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-title">
          <a class="btn btn-sm btn-primary" ui-sref="reciflix.categories"><i class="fa fa-arrow-left"> Back</i> </a>
          <div style="text-align:center;font-size:18px;margin-top:-30px">Sub Categories (<span style="font-weight:bold;color:#18a689">{{CatObjWithSubCats.displayName}} </span>)</div>
          <div class="ibox-tools" style="margin-top:-25px">
            <a class="btn btn-primary btn-sm" ng-click="openCreateSubCatModal()">Create new Sub-Category</a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="project-list">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td class="project-status cat-table-titles">Status</td>
                  <td class="project-title cat-table-titles">Name</td>
                  <td class="project-completion cat-table-titles">Image Name</td>
                  <td class="project-actions cat-table-titles">Operations</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cat in CatObjWithSubCats.subCats" ng-hide="subCats.length === 0">
                  <td class="project-status">
                    <span ng-class="cat.active ? 'label label-primary' : 'label label-default'">{{cat.active ?'Active':'InActive'}}</span>
                  </td>
                  <td class="project-title">
                    <a ng-click="displaySubCat(cat)">{{cat.displayName}}</a>
                  </td>
                  <td class="project-completion">
                    <a><img class="img-thumbnail m-t-xs img-responsive" ng-src="https://s3.amazonaws.com/NewRFSubCats/{{cat.imageName}}.jpg" alt="Category Image" style="height:60px">{{cat.imageName}}.jpg</a>
                  </td>
                  <td class="project-actions">
                    <a class="btn btn-white btn-sm" ng-click="displaySubCat(cat)"><i class="fa fa-eye" style="color:green;"></i> View </a>
                    <a class="btn btn-white btn-sm" ng-click="editSubCat(cat,$index)"><i class="fa fa-pencil"></i> Edit </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div ng-show="CatObjWithSubCats.subCats.length === 0">
              <center>
                <h3>There are no sub categories in this category.</h3>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
