<div class="row" ng-init="subCatFun()">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-title">
          <h5>All Sub categories available in this category</h5>
          <div class="ibox-tools">
            <a class="btn btn-primary btn-xs" ng-click="openCreateSubCatModal()">Create new Sub-Category</a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row m-b-sm m-t-sm">
            <div class="col-md-1">
              <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
            <div class="col-md-11">
              <div class="input-group">
                <input type="text" placeholder="Search Sub-Category" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span>
              </div>
            </div>
          </div>

          <div class="project-list">
            <table class="table table-hover">
              <tbody>
                <tr ng-repeat="cat in subCats" ng-hide="subCats.length === 0">
                  <td class="project-status">
                    <span class="label label-primary" ng-show="cat.status === 'Y' || cat.status === 'Active' ">{{cat.state}}</span>
                    <span class="label label-default" ng-show="cat.status === 'N' || cat.status === 'Inactive' ">{{cat.state}}</span>
                  </td>
                  <td class="project-title">
                    <a href="project_detail.html">{{cat.displayName}}</a>
                    <br/>
                    <small>{{cat.submitted.date}}</small>
                  </td>
                  <td class="project-completion">
                    <small>Recipes under this category: 48%</small>
                    <div class="progress progress-mini">
                      <div style="width: 48%;" class="progress-bar"></div>
                    </div>
                  </td>
                  <td class="project-actions">
                    <a class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                    <a class="btn btn-white btn-sm" ng-click="getSingleSubCat(cat,$index)"><i class="fa fa-pencil"></i> Edit </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div ng-show="subCats.length === 0">
              <center>
                <h3>There is no Sub-Categories in this category.</h3>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
