<div ui-view="child-singlerecipes-view">
  <div class="ibox-content">
    <div class="project-list">
      <div class="row" ng-click="minimalize()">
        <div class="row" ng-init="recipesUnderFavorite(1)">
          <center ng-hide="recipes.length === 0">
            <h3>Your Favorite Recipes</h3>
          </center>
          <center ng-hide="recipes.length === 0">
            <pagination boundary-links="true" total-items="totalItems" ng-model="vm.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" class="pagination-sm" max-size="maxSize" items-per-page="itemsPerPage"></pagination>
          </center>
          <center>
            <img ng-src="modules/core/img/loaders/recipes-loader.GIF" ng-show="loading">
          </center>
          <div class="col-lg-4" ng-repeat="recipe in recipes">
            <div class="contact-box items-box">
              <div class="m-t-xs font-bold post-label" style="width:92%"><span>{{recipe.title}}</span>
              </div>
              <hr>
              <div>
                <div class="text-center">
                  <div ui-sref="reciflix.recipes.subcats.recipes.singlerecipes({recipeId:recipe.recipeId})" class="recipe-img">
                    <img ng-src="{{recipe.images.mq}}" class="img-thumbnail m-t-xs img-responsive img-loader" height="180px" />
                    <div class="rf-play-icon"></div>
                  </div>
                  <div class="m-t-xs">
                    <i class="fa fa-eye space-right">{{recipe.views | numeral}}</i>
                    <i class="fa fa-clock-o space-right">{{recipe.duration | durationFltr}}</i>
                    <i class="fa fa-user">{{recipe.author}}</i>
                  </div>
                </div>
              </div>
              <center>
                <!--<div class="btn-group">
                  <button class="btn btn-white btn-sm"><span my-like-icon likes=recipe></span>{{recipe.ytlikes + recipe.applikes | numeral}}</button>
                  <button class="btn btn-white btn-sm"><span my-favorite-icon favorite=recipe> </button>
                </div>-->

                <span my-like-icon likes=recipe class="favLikeIcon"></span>{{recipe.ytlikes + recipe.applikes | numeral}}
                <span my-favorite-icon favorite=recipe class="favLikeIcon"></span>

              </center>
            </div>
          </div>
          <div class="text-center" ng-show="recipes.length === 0">
            <center>Sorry, no favorite recipes found, Please favorite recipe and try again.</center>
          </div>

          <div class="clearfix"></div>
          <center ng-hide="recipes.length==0">
            <pagination boundary-links="true" total-items="totalItems" ng-model="vm.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" class="pagination-sm" max-size="maxSize" items-per-page="itemsPerPage"></pagination>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
