<div class="row" ng-init="getSingleRecipe()" ng-click="minimalize()">
<update-title title="ReciFlix {{singleRecipe.title}} - Recipe"></update-title>
<update-meta charset="ISO-8859-1"></update-meta>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="{{singleRecipe.description}}"></update-meta>
<update-meta property="og:title" content="ReciFlix {{singleRecipe.title}} - Recipe"></update-meta>
<update-meta property="og:description" content="{{singleRecipe.description}}"></update-meta>
<update-meta property="og:image" content="{{singleRecipe.images.mq}}"></update-meta>
  <div class="col-lg-12">
    <div class="ibox">
      <ol class="breadcrumb breadcrumb-style">
        <!-- <div class="text-center header-page1">Prepare Recipe</div>-->
        <li>
          <a ui-sref="reciflix.recipes">Categories</a>
        </li>
        <li ng-show="catId">
          <a ui-sref="reciflix.recipes.subcats({catId:catId})">{{catId}}</a>
        </li>
        <li ng-show="CatIdForRecipes">
          <a ui-sref="reciflix.recipes.catrecipes({CatIdForRecipes:CatIdForRecipes})">{{CatIdForRecipes}}</a>
        </li>
        <li ng-show="subCatId">
          <a ui-sref="reciflix.recipes.subcats.recipes({subCatId:subCatId})">{{subCatId}}</a>
        </li>
        <li class="active">
          <strong>Recipe</strong>
        </li>
      </ol>
      <div class="col-lg-12">
        <div class="ibox product-detail">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-10 col-xs-12 col-lg-10 col-sm-12">
                <div class="font-bold label-primary recipe-title m-b-xs ">
                  {{singleRecipe.title}}
                  <span class="product-main-price" style="padding-left:20px;font-size:16px">
                                        <i class="fa fa-user"></i> <span class="">{{singleRecipe.author}}</span>
                  </span>
                </div>
                <div class="embed-responsive embed-responsive-16by9 video-frame">
                  <iframe width="750" height="422" ng-src="{{youTubeRecipeURL}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <center>
                  <div class="m-t-xs">
                    <i class="fa fa-eye space-right">{{singleRecipe.views | numeral}}</i>
                    <i class="fa fa-clock-o space-right">{{singleRecipe.duration | durationFltr}}</i>
                  </div>
                  <!--<div class="btn-group">
                    <button class="btn btn-white btn-sm"><span my-like-icon likes=singleRecipe></span>{{singleRecipe.ytlikes + singleRecipe.applikes | numeral}}</button>
                    <button class="btn btn-white btn-sm"><span my-favorite-icon favorite=singleRecipe></span></button>
                  </div>-->
                  <span my-like-icon likes=singleRecipe class="favLikeIcon"></span>{{singleRecipe.ytlikes + singleRecipe.applikes | numeral}}
                  <span my-favorite-icon favorite=singleRecipe class="favLikeIcon"></span>
                </center>
                <div class="label-primary" style="padding:5px">Description &amp; Way of making:</div>
                <div class="small text-muted">
                  <pre style="font-family:verdana">{{singleRecipe.description}}</pre>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
