<div ui-view="child-singlerecipes-view">
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <ol class="breadcrumb breadcrumb-style">
            <!--<div class="text-center header-page1">Recipes</div>-->
            <li>
              <a ui-sref="reciflix.recipes">Categories</a>
            </li>
            <li>
              <a ui-sref="reciflix.recipes.subcats">{{catId}}</a>
            </li>
            <li class="active">
              <strong>{{subCatId}}</strong>
            </li>
          </ol>
        </div>
        <div class="ibox-content">
          <div class="project-list">
            <div class="row">
              <div class="col-md-6 border-style">
                <img ng-src="modules/recipes/img/v2/subcats-img/{{subCatId}}.jpg" alt="Sample Image" class="thumbnail img-responsive img-rounded img-class">
              </div>
              <hr class="hidden-lg hidden-md">
              <div class="col-md-6">
                <h1 class="page-header text-capitalize text-center">{{subCatId}}</small></h1>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Total</td>
                      <td>
                        <mark>{{subCatRecipes.length}}</mark>
                      </td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td>About items</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row" ng-init="recipesUnderSubCat(1)">

              <div class="col-lg-4" ng-repeat="recipe in subCatRecipes">
                <div class="contact-box items-box">
                  <div class="m-t-xs font-bold post-label" style="width:92%"><span>{{recipe.title}}</span>
                  </div>
                  <hr>
                  <a ui-sref="reciflix.recipes.subcats.recipes.singlerecipes({recipeId:recipe.recipeId})">
                    <div>
                      <div class="text-center">
                        <img ng-src="{{recipe.images.mq}}" class="img-thumbnail m-t-xs img-responsive" height="180px" />
                        <div class="m-t-xs font-bold"><strong><i class="fa fa-user"></i> <span class=""><mark >{{recipe.author}}</mark></span></strong>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-white btn-sm"><i class="fa fa-eye"></i>{{recipe.views | numeral}}</button>
                      <button class="btn btn-white btn-sm"><i class="fa fa-clock-o"></i>{{recipe.duration | durationFltr}}</button>
                      <button class="btn btn-white btn-sm"><i class="fa fa-thumbs-o-up"></i>{{recipe.ytlikes + recipe.applikes | numeral}}</button>
                      <button class="btn btn-white btn-sm"><i class="fa fa-heart"></i> </button>
                    </div>
                    <span class="pull-right btn btn-default text-color" ui-sref="reciflix.recipes.subcats.recipes.singlerecipes({recipeId:recipe.recipeId})">More</span>
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
              <center>
                <pagination boundary-links="true" total-items="totalItems" ng-model="vm.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" class="pagination-sm" max-size="maxSize" items-per-page="itemsPerPage"></pagination>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
