<section data-ng-controller="RecipesController" data-ng-init="find()">
  <div>
    <div class="col-xs-offset-1 col-md-offset-0">
      <ul class="nav nav-pills text-center menu-text-black">
        <li ng-class="{active:$state.includes('home.listWorks')} " class="navpills"><a data-ng-show="authentication.user.roles.indexOf('admin')!=-1" ui-sref="listCategories">Categories</a>
        </li>
      </ul>
    </div>


  </div>
  <!-- to do it later-->
  <!--  if this is user show what ever user can do on mobile -->
  <!--  if this is admin/contributor/chef show their specific functionalities -->
  <div>
    <div>
        <div data-ng-hide="authentication.user.roles.indexOf('admin')!=-1">
        <p>Thanks for loggin in to ReciFlix Web, We are following a mobile first approach, also actively working on making this website ready for you, meanwhile please continue to use ReciFlix mobile app, we will announce soon when this website ready with functionality.</p>
        </div>
        <div data-ng-show="authentication.user.roles.indexOf('admin')!=-1">
        <p>Thanks for logging in, you are an administrator, you can choose above navigation links to update the sites content!</p>
        </div>

    </div>
  </div>
</section>
