.reciflix.categories {
  min-height: 740px !important;
}

.cat-table-titles {
  font-size: 18px;
  font-weight: bold;
  color: darkgray;
}

.thumb {
  width: 200px;
  height: 100px;
}

.rf-updating-icon {
  background: url('../../../modules/core/img/loaders/328.GIF') no-repeat;
  display: block;
  height: 100px;
  position: absolute;
  left: 239px;
  top: 345px;
  width: 200px;
  z-index: 1000;
}
.rf-spinner {
      position: absolute;
    margin-left: 8%;
    margin-top: 4px;
    z-index: 1;
}
