<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span> </button>
    <h4 class="modal-title">{{modalName}} (<span style="font-weight:bold;color:#18a689">{{catName}} </span>)</h4>
  </div>
  <div class="modal-body">
    <form role="form" name="cat_form">
      <div class="form-group">
        <label>Display Name</label>
        <input type="text" name="displayName" class="form-control" ng-model="subCat.displayName" required>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-xs-6">
          <label class="control-label">Active</label>
          <input type="checkbox" class="form-control" ng-model="subCat.active">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-xs-6">
          <label>SubCatId</label>
          <input type="text" class="form-control" ng-model="subCat.subCatId">
        </div>
        <div class="form-group col-md-6 col-xs-6">
          <label>Image Name</label>
          <input type="text" class="form-control" placeholder="without extension" ng-model="subCat.imageName">
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea type="text" rows="5" cols="15" placeholder="Description, eg: Few lines about this Sub category" class="form-control" ng-model="subCat.description"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="createSubCat()" ng-disabled="(cat_form.displayName.$invalid || login_form.catId.$invalid)" ng-show="modalName === 'Create Sub-Category'">{{modalName}}</button>
    <a ng-click="deleteSubCat(subCat,$index)" title="Delete this Subcategory"><i class="fa fa-times" style="color:red;font-size:20px;float:left" ng-show="modalName === 'Update Sub-Category'"></i></a>
    <button type="button" class="btn btn-primary" ng-click="updateSubCat()" ng-disabled="(cat_form.displayName.$invalid || login_form.catId.$invalid)" ng-show="modalName === 'Update Sub-Category'">{{modalName}}</button>
  </div>
</div>
