<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span> </button>
    <h4 class="modal-title">{{modalName}}</h4>
  </div>
  <div class="modal-body">
    <form role="form" name="cat_form">
      <div class="form-group">
        <label>Display Name</label>
        <input type="text" name="displayName" placeholder="Display Name, eg: 'Vegeterian'" class="form-control" ng-model="cat.displayName" required>
      </div>
      <div class="row">
        <div class="form-group col-md-4 col-xs-4">
          <label class="control-label">Sub-category Exists</label>
          <input type="checkbox" class="form-control" ng-model="cat.subCatsExist">
        </div>
        <div class="form-group col-md-4 col-xs-4">
          <label class="control-label">Rank</label>
          <input type="number" placeholder="eg: 1,2,3..." class="form-control" ng-model="cat.rank">
        </div>
        <div class="form-group col-md-4 col-xs-4">
          <label class="control-label">Active</label>
          <!-- <input type="text" placeholder="eg:'Active'or'Inactive'" class="form-control" ng-model="cat.status">-->
          <input type="checkbox" class="form-control" ng-model="cat.active">
        </div>
      </div>
      <div class="form-group">
        <label>Category Id</label>
        <input type="text" name="catId" placeholder="Category Id, eg: 'vegeterian'" class="form-control" ng-model="cat.catId" required>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea type="text" rows="5" cols="15" placeholder="Description, eg: Few lines about this category" class="form-control" ng-model="cat.description"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="createCat()" ng-disabled="(cat_form.displayName.$invalid || login_form.catId.$invalid)" ng-show="modalName === 'Create Category'">{{modalName}}</button>
    <a ng-click="deleteCat(cat,$index)" title="Delete this category"><i class="fa fa-times" style="color:red;font-size:20px;float:left" ng-show="modalName === 'Update Category'"></i></a>
    <button type="button" class="btn btn-primary" ng-click="updateCat()" ng-disabled="(cat_form.displayName.$invalid || login_form.catId.$invalid)" ng-show="modalName === 'Update Category'">{{modalName}}</button>
  </div>
</div>
