<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span> </button>
    <h4 class="modal-title" ng-hide="condition1">User Log In</h4>
    <h4 class="modal-title" ng-show="condition1">Create account</h4>
  </div>
  <div class="modal-body" ng-hide="condition1">
    <h3 class="text-center">Welcome to ReciFlix</h3>
    <p class="text-center">Log In to ReciFlix, and see it in action.</p>
    <form class="m-t" role="form" name="login_form" novalidate>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="credentials.email" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="credentials.password" required="">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-click="Login()" ng-disabled="(login_form.email.$invalid || login_form.password.$invalid || isDisabled )">{{buttonTextLogIn}}</button>
      <p class="text-center">
        <a ui-sref="forgot" ng-click="$dismiss()"><small style="color:#0080ff">Forgot password?</small></a>
      </p>
    </form>
    <div data-ng-show="errMsg" class="text-center text-danger">
      <strong data-ng-bind="errMsg"></strong>
    </div>
    <div class="col-md-12 text-center">
      <h5>or Connect with</h5>
      <a ng-click="googleAuthLogIn()" class="undecorated-link">
        <img src="/modules/core/img/buttons/google-plus-4-64.png">
      </a>
      <a ng-click="fbAuthLogIn()" class="undecorated-link">
        <img src="/modules/core/img/buttons/facebook-4-64.png">
      </a>
      <!--<a href="/auth/twitter" class="undecorated-link">
  <img src="/modules/core/img/buttons/twitter-4-64.png">
</a>-->
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="modal-body" ng-show="condition1">
    <h3 class="text-center">Welcome to ReciFlix</h3>
    <p class="text-center">Create account in ReciFlix, and see it in action.</p>

    <form role="form" name="signup_form" novalidate>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" name="fname" ng-model="user.firstName" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" name="lname" ng-model="user.lastName" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" required>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-click="SignUp()" ng-disabled="( signup_form.$invalid || isDisabled )">{{buttonTextSignUp}}</button>
    </form>
    <div data-ng-show="errMsg" class="text-center text-danger">
      <strong data-ng-bind="errMsg"></strong>
    </div>
  </div>
  <div class="modal-footer">
    <span ng-hide="condition1" style="font-size:14px;float:left">New to Reciflix? <a style="color:#0080ff" ng-click="condition1 = !condition1" > Sign up now.</a></span>
    <span ng-show="condition1" style="font-size:14px;float:left">Already have an account? <a style="color:#0080ff" ng-click="condition1 = !condition1" > Log In.</a></span>
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
    <!--<button type="button" class="btn btn-primary" ng-hide="condition1" ng-click="Login()" ng-disabled="(login_form.email.$invalid || login_form.password.$invalid)">Log In</button>-->
    <!--<button type="button" class="btn btn-primary" ng-show="condition1" ng-click="SignUp()" ng-disabled="signup_form.$invalid">Sign up</button>-->
  </div>
</div>
